<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Firemba </title>

    <!-- Bootstrap core CSS -->
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/media/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="/media/bootstrap/css/landing-page.css" rel="stylesheet">

    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

</head>

<body>
    <!--
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://startbootstrap.com">Start Bootstrap</a>
            </div>
     -->
            <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- 
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
    -->
            <!-- /.navbar-collapse -->
    <!--
        </div>
     -->
        <!-- /.container -->
    <!--
    </nav>
    -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1> Firemba </h1>
                        <h3> Проект &laquo; Платные опросы &raquo; </h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Фиремба -</h2>
                    <p class="lead" style="font-size:1.5em">
                         новый сервис платных опросов. Крупные компании готовы платить большие деньги, чтобы понимать потребности и поведение людей. Мы поможем Вам получить эти деньги. 
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/media/img/LPAndroid.png" alt="" style="width: 50%; height: 50%">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> Выгодно </h2>
                    <p class="lead" style="font-size:1.5em">  
                        Вы будете получать деньги за ответы на вопросы на самые разные темы: чем больше ответов - тем больше денег
                    </p>
                    <h2 class="section-heading"> Удобно</h2>
                    <p class="lead" style="font-size:1.5em">
                        Заполняйте опросы на сайте или на смартфонах и планшетах в любое время и в любом месте (мы поддерживаем iPhone и Android)
                    </p>
                     <h2 class="section-heading"> Безопасно</h2>
                        <p class="lead" style="font-size:1.5em">   
                            Все данные о вас будут использоваться только анонимно в больших сводных отчетах
                        </p>              
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/media/img/LPiOS.png" alt="" style="width: 50%; height: 50%">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> Запишитесь сейчас! </h2>
                    <h6 class="section-heading"> Оставьте нам свои контакты, и в апреле 2014 года мы пришлем вам персональный код для входа. Количество мест ограничено! </h6>
                    
                    {% if not completed %}
                    <form class="form-horizontal" action="." method="POST">
                        {% csrf_token %}
                         <div class="control-group">
                            <label class="control-label" for="inputName" required>Имя * </label>
                            <div class="controls">
                              <input type="text" id="inputName" name="inputName" placeholder="" required>
                            </div>
                          </div> 
                        <div class="control-group">
                            <label class="control-label" for="inputSurName"required>Фамилия *</label>
                            <div class="controls">
                              <input type="text" id="inputSurName" name="inputSurName" placeholder="" required>
                            </div>
                          </div> 
                        <div class="control-group">
                            <label class="control-label" for="inputPatronymic" required >Отчество *</label>
                            <div class="controls">
                              <input type="text" id="inputPatronymic" name="inputPatronymic" placeholder="" required>
                            </div>
                          </div> 
                        <div class="control-group">
                            <label class="control-label" for="inputEmail" required>Email *</label>
                            <div class="controls">
                              <input type="text" id="inputEmail" name="inputEmail" placeholder="" required>
                            </div>
                         </div> 

                        {{form.captcha}} 
                    
                        <div class="control-group">
                            <div class="controls">
                              <label class="checkbox">
                                <input type="checkbox" required> Согласен с правилами*
                              </label>
                              <button class="btn btn-large btn-primary"  type="submit" class="btn"> Отправить </button>
                            </div>
                          </div>
                         * - обязательное поле
                    </form>
                    <hr />
                    <h6 class="section-heading"> Нам нужны реальные люди, а не роботы. Мнение ботов никого не интересует и ничего не стоит. Поэтому имя и адрес почты должны быть настоящими. Спам мы на них слать не будем.   </h6>
                    {% endif %}
                    {% if completed %}
                    <p class="lead"> Спасибо за прохождение опроса. </p>
                    {% endif %}
                    <p class="lead"> </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                   <!-- <img class="img-responsive" src="/media/img/phones.png" alt=""> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <!-- /.banner -->
       <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#home"></a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#about"></a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#services"></a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li><a href="#contact"></a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small"> &laquo;Большие данные - это новая эпоха в нашем понимании общества. С нетерпением жду первых результатов работы проекта &laquo;Фиремба&raquo;.&raquo;  &mdash; Валерий Кривцов (Профессор, декан факультета инноваций и высоких технологий МФТИ)
                    </p>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>
</html>
